#titl {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-family: sans-serif;
    font-size: 3rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: #fff;
    text-shadow: -4px 4px #ffffff,
                 -8px 8px #000000,
                 -12px 12px #ffffff,
                 -16px 16px #000000,
                 -20px 20px #ffffff,
                 -24px 24px #000000,
                 -28px 28px #ffffff,
                 -32px 32px #000000,
                 -36px 36px #ffffff;
  }
  
  body {
    background-color: black;
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }

  #shadowBox {
    background-color: rgb(255, 255, 255);
    -webkit-border-radius: 15px;
    border-radius: 15px;
    /* Fallback color */
    background-color: rgba(255, 255, 255, 0.2);
    /* Black w/opacity/see-through */
    text-align: center;
  }
  
  .rainbow {
    text-align: center;
    text-decoration: underline;
    font-size: 32px;
    font-family: monospace;
    letter-spacing: 5px;
    animation: colorRotate 6s linear 0s infinite;
  }
  
  @keyframes bgcolor {
    0% {
        background-color: #001d32
    }

    30% {
        background-color: #0b2200
    }

    60% {
        background-color: #002828
    }

    90% {
        background-color: rgb(19, 0, 52)
    }

    100% {
        background-color: #140029
    }
}

  h2 {
    font-family: sans-serif;
    color: aliceblue;

  }
  
  h3{ 
    font-family: sans-serif;
    color: aliceblue;



  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  #aboutme{
    font-family: sans-serif;
    color: aliceblue;
    text-align: center;
    padding-top: 1rem;
  }



  form {
    text-align: center;
  }
  
  h1 {
    margin-bottom: 2rem;
    color: aliceblue;
    
  }
  
  div {
    margin-bottom: 1rem;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  label {
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
  }
  
  button {
    padding: 0.5rem 1rem;
    background-color: #ffffff;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  label:hover{
    background-color: #000;
    padding: 0.5rem 1rem;
  }

  .vote-total {
    font-weight: bold;
    margin-left: 10px;
  }
  
  